<% content_for :page_title, "#{person_name_or_stub(@person)} // Curate" %>

<% content_for :page_header do %>
<hgroup>
  <h1><%= @person.name %></h1>
  <% unless @person.title.blank? %>
    <h3><%= @person.title %></h3>
  <% end %>
</hgroup>
<% end %>
<div class="row-fluid">
  <div class="span3" >
    <div class="thumbnail">
      <%= render partial: 'profile_image', locals: {person: @person} %>
    </div>
  </div>
  <div class="span5">
    <dl class="attribute-list <%= dom_class(@person) %>">
    <%# This is where I tell Jeremy I'm sorry. %>
    <% @person.terms_for_display.reject{|name| name == :name}.each do |attribute_name| %>
      <% if @person.send(attribute_name).present? %>
        <dt><%="#{derived_label_for( @person, attribute_name) }:" %></dt>
        <% [@person.send(attribute_name)].flatten.compact.each do |value| %>
        <dd><%= value %></dd>
        <% end %>
      <% end %>
    <% end %>
    </dl>

    <% if can? :edit, @person %>
      <div class="form-action">
        <%= link_to "Update Personal Information", edit_user_registration_path, class: 'btn btn-primary' %>
      </div>
    <% end %>
  </div>
  <div id="person_profile" class="span12">
    <% if profile_has_contents?(@person) %>
      <h3><%= "Selected Works of #{@person.name}" %> </h3>
      <p><%= @person.profile.description %> </p>

      <div id="documents" class="clear">
        <%= list_items_in_collection(@person.profile) %>
      </div>
    <% end %>

    <% if can_edit_profile_collection?(@person) %>
      <div class="form-action">
        <%= link_to 'Add a Section to my Profile', new_collection_path(add_to_profile: true), class: 'btn btn-primary' %>
      </div>
    <% end %>
  </div>
</div>

