<% content_for :page_title, "#{person_name_or_stub(@person)} // Curate" %>

<% content_for :page_header do %>
<hgroup>
  <h1><%= @person.name %></h1>
  <% unless @person.title.blank? %>
    <h3><%= @person.title %></h3>
  <% end %>
</hgroup>
<% end %>

<table class="table table-striped <%= dom_class(@person) %> attributes">
  <tbody>
    <tr><th>Campus Phone:    </th><td><%= @person.campus_phone_number    %></td></tr>
    <tr><th>Alternate Phone: </th><td><%= @person.alternate_phone_number %></td></tr>
    <tr><th>Preferred Email: </th><td><%= @person.preferred_email        %></td></tr>
    <tr><th>Alternate Email: </th><td><%= @person.alternate_email        %></td></tr>
    <tr><th>Date of Birth:   </th><td><%= @person.date_of_birth          %></td></tr>
    <tr><th>Personal Webpage:</th><td><%= @person.personal_webpage       %></td></tr>
    <tr><th>Blog:            </th><td><%= @person.blog                   %></td></tr>
  </tbody>
</table>
<%# TODO: Only render the action area if you have permission to edit the person %>
<div class="form-action">
  <%= link_to "Update Personal Information", edit_user_registration_path, class: 'btn btn-primary' %>
  <% if can_edit_profile_collection?(@person) %>
    <%= link_to 'Add a Section to my Profile', new_collection_path(add_to_profile: true), class: 'btn btn-primary' %>
  <% end %>
</div>

<div id="person_profile">
  <% if profile_has_contents?(@person) %>
    <h3><%= "Selected Works of #{@person.name}" %> </h3>
    <p><%= @person.profile.description %> </p>

    <div id="documents" class="clear">
      <%= list_items_in_collection(@person.profile) %>
    </div>
  <% end %>
</div>
