<% content_for :page_title, "#{person_name_or_stub(@person)} // Curate" %>

<% content_for :page_header do %>
  <h1><%= @person.name %> </h1>
  <h3><%= @person.title %> </h3>
<% end %>

<div id="person_profile">
  <% if profile_has_contents?(@person) %>
    <h3><%= "Selected Works of #{@person.name}" %> </h3>
    <p><%= @person.profile.description %> </p>

    <div id="documents" class="clear">
      <%= list_items_in_collection(@person.profile) %>
    </div>
  <% end %>
</div>
