
<table class="table table-striped <%= dom_class(curation_concern) %> referenced_by_works with-headroom">
  <caption class="table-heading">
    <h2>Referenced by</h2>
  </caption>
  <% if curation_concern.referenced_by_works.present? %>
    <thead>
    <tr>
      <th>Work Title</th>
    </tr>
    </thead>
    <tbody>
    <% curation_concern.referenced_by_works.each do |related_work| %>
      <tr class="referenced_by_works attributes">
        <td class="attribute title"><%= link_to related_work.title, polymorphic_path([:curation_concern, related_work]) %></td>
      </tr>
    <% end %>
    </tbody>
  <% end %>
</table>

<table class="table table-striped <%= dom_class(curation_concern) %> related_works with-headroom">
  <caption class="table-heading">
    <h2>Related Works</h2>
  </caption>
  <% if curation_concern.related_works.present? %>
    <thead>
    <tr>
      <th>Work Title</th>
    </tr>
    </thead>
    <tbody>
    <% curation_concern.related_works.each do |related_work| %>
      <tr class="related_works attributes">
        <td class="attribute title"><%= link_to related_work.title, polymorphic_path([:curation_concern, related_work]) %></td>
      </tr>
    <% end %>
    </tbody>
  <% end %>
</table>


<%= form_for [:curation_concern, curation_concern], method: :patch do |f| %>
  <%= f.select :related_work_ids, options_from_collection_for_select(curation_concern.related_works, :id, :title, curation_concern.related_work_ids),{include_hidden: false}, { multiple: true, class:"autocomplete chosen-select", "data-source"=>dashboard_index_path, "data-exclude"=>"#{curation_concern.pid}", "data-placeholder"=>"Choose works to associate..."} %>
  <%= f.submit "Update Related Works", class: 'btn btn-primary' %>
<% end %>

