<table class="table table-striped <%= dom_class(curation_concern) %> related_files with-headroom">
  <caption class="table-heading">
    <h2>Related Files</h2>
  </caption>
  <thead>
    <tr>
      <th>Related File</th>
      <th>Filename</th>
      <th>Date Uploaded</th>
      <th>Visibility</th>
      <%- if with_actions -%><th>Actions</th><%- end -%>
    </tr>
  </thead>
  <tbody>
    <% curation_concern.generic_files.each do |generic_file| %>
      <tr class="<%= dom_class(generic_file) %> attributes">
        <td class="attribute title"><%= generic_file %></td>
        <td class="attribute filename"><%= generic_file.filename %></td>
        <td class="attribute date_uploaded"><%= generic_file.date_uploaded %></td>
        <td class="attribute permission"><%= link_to_edit_permissions(generic_file) %></td>
        <%- if with_actions -%>
          <td>
            <%- if can?(:edit, generic_file) -%>
              <%= link_to(
                'Edit',
                edit_polymorphic_path([:curation_concern, generic_file]),
                { class: 'btn', title: "Edit #{generic_file}" }
              ) %>
            <%- end -%>
            <%- if can?(:destroy, generic_file) -%>
              <%= link_to(
                'Delete',
                polymorphic_path([:curation_concern, generic_file]),
                class: 'btn', method: :delete, title: "Delete #{generic_file.to_s.inspect}",
                confirm: "Deleting #{generic_file.to_s.inspect} from #{t('sufia.product_name')} is permanent. Click OK to delete this from #{t('sufia.product_name')}, or Cancel to cancel this operation"
              )%>
            <%- end -%>
          </td>
        <%- end -%>
      </tr>
    <% end %>
  </tbody>
</table>