<%= simple_form_for [:curation_concern, curation_concern] do |f| %>
  <div class="row">
    <div class="span6">
      <fieldset class="required">
        <legend>Describe Your Thesis</legend>

        <%= f.input :title,
                    input_html: { class: 'input-xlarge' }
        %>

        <%= f.input :description,
                    as: :text,
                    hint: 'Please keep your abstract to around 300 words.',
                    input_html: { class: 'input-xxlarge' },
                    label: 'Abstract'
        %>
      </fieldset>

      <fieldset class="required">
        <legend>
          Attach Your Thesis
          <small>A PDF copy is preferred.</small>
        </legend>

      <% if curation_concern.persisted? && curation_concern.current_thesis_file %>
        <dl>
          <dt>Current thesis file:</dt>
          <dd><%= curation_concern.current_thesis_file %></dd>
        </dl>

        <%= f.input :thesis_file,
                    as: :file,
                    label: 'Upload a new copy of your thesis'
        %>
      <% else %>
        <%= f.input :thesis_file,
                    as: :file,
                    label: 'Upload a your thesis'
        %>
      <% end %>
      </fieldset>
    </div>
    <div class="span6">
      <fieldset class="optional prompt">
        <legend>Additional Information</legend>
        <%= f.input :contributor, as: :multi_value %>
        <%= f.input :publisher, as: :multi_value %>
        <%= f.input :bibliographic_citation, as: :multi_value %>
        <%= f.input :source, as: :multi_value %>
        <%= f.input :language, as: :multi_value %>
        <%= f.input :extent, as: :multi_value %>
        <%= f.input :requires, as: :multi_value %>
        <%= f.input :subject, as: :multi_value %>
      </fieldset>
    </div>
  </div>

  <div class="row">
    <div class="span12">
      <%= render :partial => "permission", :locals => { :curation_concern=> curation_concern} %>
    </div>
  </div>

  <div class="row">
    <div class="span12 form-actions">
      <%= f.submit class: 'btn btn-primary' %>
      <%= link_to 'Cancel', dashboard_index_path, class: 'btn btn-link' %>
    </div>
  </div>

<% end %>
