<%= simple_form_for [:curation_concern, curation_concern] do |f| %>
  <% if f.error_notification -%>
    <div class="alert alert-error fade in">
      <strong>Wait don't go!</strong> There was a problem with your submission. Please review the errors below:
      <a class="close" data-dismiss="alert" href="#">&times;</a>
    </div>
  <% end -%>

  <%= accordion(accordion_id: dom_id(curation_concern, 'accordion')) do |container| %>

    <%= container.pane(raw("Required Information&hellip;"), class: 'required', open_next: 'true') do %>
      <fieldset class="required">
        <legend>This is what we need to know about your Senior Thesis</legend>
        <%= f.input :title, input_html: { class: 'input-xlarge' } %>
        <%= f.input :description,
                    as: :text,
                    hint: 'Please keep your abstract to 300 words or less.',
                    input_html: {
                      class: 'input-xxxlarge',
                      rows: '9'
                    },
                    label: 'Abstract'
        %>
      </fieldset>
      <%= render '/curation_concern/content_license', f: f %>
      <%= render "/curation_concern/doi", curation_concern: curation_concern, f: f %>
    <% end %>

    <%= container.pane(raw("Additional Information and Metadata&hellip;"), class: 'optional prompt', open_next: 'true') do %>
      <fieldset class="optional prompt">
        <legend>Any additional information is optional, but helpful for others looking to find your work.</legend>
        <%= f.input :contributor,            as: :multi_value, input_html: { class: 'input-xlarge' }, hint: 'Be sure to add your name because <em>you</em> are a contributor to your own thesis.'.html_safe %>
        <%= f.input :subject,                as: :multi_value, input_html: { class: 'input-xlarge' } %>
        <%= f.input :publisher,              as: :multi_value, input_html: { class: 'input-xlarge' } %>
        <%= f.input :bibliographic_citation, as: :multi_value, input_html: { class: 'input-xlarge' } %>
        <%= f.input :source,                 as: :multi_value, input_html: { class: 'input-xlarge' } %>
        <%= f.input :language,               as: :multi_value, input_html: { class: 'input-xlarge' } %>
      </fieldset>
    <% end %>

    <%= container.pane(raw("Access and Permissions&hellip;"), open_next: 'true') do %>
      <%= render "/curation_concern/permission", curation_concern: curation_concern, f: f %>
    <% end %>

    <%= container.pane(raw("Files&hellip;")) do %>
      <% if curation_concern.persisted? %>
        <fieldset class="required">
          <legend>
            Manage your thesis File
          </legend>
            <%= render '/curation_concern/manage_related_files', curation_concern: curation_concern, with_actions: true %>
        </fieldset>
      <% else %>
        <fieldset class="required">
          <legend>
            Attach Your Thesis
            <small>A PDF copy is preferred.</small>
          </legend>
          <%= f.input :thesis_file,
                      as: :file,
                      label: 'Upload your thesis'
          %>
        </fieldset>
      <% end %>
    <% end %>

  <% end %>

  <%= render '/curation_concern/contributor_agreement', curation_concern: curation_concern, contributor_agreement: contributor_agreement %>

  <div class="row">
    <div class="span12 form-actions">
      <%= f.submit class: 'btn btn-primary' %>
      <%= f.submit value: save_and_add_related_files_submit_value, class: 'btn btn-primary' %>
      <%= link_to 'Cancel', dashboard_index_path, class: 'btn btn-link' %>
    </div>
  </div>

<% end %>
