<%= simple_form_for [:curation_concern, curation_concern] do |f| %>
  <% if f.error_notification -%>
    <div class="alert alert-error fade in">
      <strong>Wait don't go!</strong> There was a problem with your submission. Please review the errors below:
      <a class="close" data-dismiss="alert" href="#">&times;</a>
    </div>
  <% end -%>

  <%= accordion(accordion_id: 'accordion') do |container| %>

    <%= container.pane("Required Information", class: 'required') do %>
      <fieldset class="required">
        <legend>This is what we need to know about your Senior Thesis</legend>
        <%= f.input :title,
                    label: "Title of your #{curation_concern.human_readable_type}",
                    input_html: { class: 'input-xxlarge'}
        %>
        <%= f.input :creator,
                    as: :multi_value,
                    input_html: { class: 'input-xlarge', placeholder: 'George Washington', multiple: 'multiple' },
                    label: 'Author',
                    hint: 'Enter your preferred name'
        %>
        <%= f.input :description,
                    as: :text,
                    input_html: {
                      class: 'input-xxxlarge',
                      rows: '9'
                    },
                    label: "Abstract or Summary of #{curation_concern.human_readable_type}"
        %>
        <%= f.input :date_created,
                    input_html: { class: 'datepicker', placeholder: Date.today },
                    label: "When did your finish your #{curation_concern.human_readable_type}",
                    hint: "This does not need to be exact, but your best guess."
        %>
      </fieldset>
      <%= render '/curation_concern/content_license', f: f %>
      <%= render "/curation_concern/permission", curation_concern: curation_concern, f: f %>
      <%= render "/curation_concern/doi", curation_concern: curation_concern, f: f %>
    <% end %>

    <%= container.pane("Additional Information and Metadata", class: 'optional prompt') do %>
      <fieldset class="optional prompt">
        <legend>Any additional information is optional, but helpful for others looking to find your work.</legend>
        <%= f.input :advisor,
                    as: :multi_value,
                    input_html: { placeholder: 'Prof. Roy Hinkley', class: 'input-xlarge', multiple: 'multiple' },
                    label: "Advisor(s)"
        %>
        <%= f.input :contributor,
                    as: :multi_value,
                    input_html: { class: 'input-xlarge', multiple: 'multiple' },
                    label: "Contributing Author(s)",
                    hint: "Who else played a non-primary role in the creation of your Senior Thesis."
        %>
        <%= f.input :subject,
                    as: :multi_value,
                    input_html: { class: 'input-xlarge', multiple: 'multiple' },
                    label: "Keyword(s) or phrase(s)",
                    hint: "What words or phrases would be helpful for someone searching for your Senior Thesis"
        %>
        <%= f.input :bibliographic_citation,
                    as: :multi_value,
                    input_html: { class: 'input-xlarge', multiple: 'multiple' },
                    hint: "Recommended Bibliographic Citation for referencing your #{curation_concern.human_readable_type}. <a href='http://lib.calpoly.edu/research/citations/apa.html'>Citation Examples</a>"
        %>
        <%= f.input :language,
                    as: :multi_value,
                    input_html: { class: 'input-xlarge', multiple: 'multiple'},
                    hint: "What is the language(s) in which you wrote your work?"
        %>
        <%= f.input :publisher,
                    as: :multi_value,
                    input_html: { class: 'input-xlarge', multiple: 'multiple' }
        %>
      </fieldset>
    <% end %>

    <%= container.pane("Files") do %>
      <fieldset>
        <legend>
          Manage your <%= curation_concern.human_readable_type %> files
          <small>A PDF copy is preferred.</small>
        </legend>
        <%= f.input :files,
                    as: :file,
                    label: "Upload Files",
                    hint: "CTRL-Click (Windows) or CMD-Click (Mac) to select multiple files.",
                    input_html: { multiple: 'multiple'}
        %>
      </fieldset>
      <% if curation_concern.persisted? %>
        <%= render '/curation_concern/manage_related_files', curation_concern: curation_concern, f: f %>
      <% end %>
    <% end %>

  <% end %>

  <%= render '/curation_concern/contributor_agreement', curation_concern: curation_concern, contributor_agreement: contributor_agreement %>

  <div class="row">
    <div class="span12 form-actions">
      <% if curation_concern.persisted? %>
        <%= f.submit(class: 'btn btn-primary') %>
      <% else %>
        <%= f.submit(
          title: "Submit your #{curation_concern.human_readable_type} after you accept the Content Submission Terms.",
          class: 'btn btn-primary require-contributor-agreement'
        ) %>
      <% end %>
      <%= link_to 'Cancel', dashboard_index_path, class: 'btn btn-link' %>
    </div>
  </div>

<% end %>
