<p>
  <%= link_to 'Back to Dashboard', dashboard_index_path %> |
  <%= link_to "Edit Senior Thesis", edit_polymorphic_path([:curation_concern, curation_concern]) %>
</p>
<h2 class="non lower">Thesis Details</h2>
<dl class="<%= dom_class(curation_concern) %> attributes">
  <dt>Title</dt>
  <dd><%= curation_concern.title %></dd>
  <dt>Description</dt>
  <dd><%= curation_concern.description %></dd>
</dl>
<% if current_thesis_file = curation_concern.current_thesis_file %>
  <%= render "show_file_details", locals: {generic_file: current_thesis_file} %>
<% end %>