<% content_for :page_header do %>
  <h1><%= curation_concern.title %></h1>
<% end %>

<dl class="<%= dom_class(curation_concern) %> attributes">
  <dt>Abstract</dt>
  <dd><%= curation_concern.description %></dd>
</dl>

<% curation_concern.generic_files.each do |generic_file| %>
  <%= render "show_file_details", generic_file: generic_file %>
<% end %>

<% content_for :second_row do %>
  <% if can? :edit, curation_concern %>
    <div class="form-actions">
      <%= link_to "Edit This Senior Thesis", edit_polymorphic_path([:curation_concern, curation_concern]), class: 'btn btn-primary'  %>
    </div>
  <% end %>
<% end %>