<%# This is a search result view %>
<% solr_doc = etd.inner_object.solr_doc %>
<li id="document_<%= etd.noid %>" class="search-result">

  <%= render :partial => 'catalog/_index_partials/identifier_and_action', locals: {document: etd, counter: etd_counter} %>

  <div class="row-fluid">

    <div class="span2">
      <%= render :partial => 'catalog/_index_partials/thumbnail_display', locals: {document: etd} %>
    </div>

    <div class="span10">
      <dl class="attribute-list">
        <% if solr_doc.has?('desc_metadata__contributor_tesim') %>
          <dt>Author(s):</dt>
          <dd><%= render_index_field_value(document: solr_doc, field: 'desc_metadata__contributor_tesim') %></dd>
        <% end %>

        <% if solr_doc.has?('desc_metadata__subject_tesim') %>
          <dt>Subject:</dt>
          <dd><%= truncate(render_index_field_value(document: solr_doc, field: 'desc_metadata__subject_tesim'), length: 150) %></dd>
        <% end %>

        <% if solr_doc.has?('desc_metadata__date_created_tesim') %>
          <dt>Date:</dt>
          <dd><%= solr_doc['desc_metadata__date_created_tesim'].first %></dd>
        <% end %>
      </dl>
    </div>

  </div>

</li>
