<fieldset class="required">
  <legend>Required Information</legend>

  <div class="row">

    <div class="span6">
      <%= f.input :title,
        input_html: { class: 'input-xlarge' }
      %>

      <%= f.input :alternate_title,
        input_html: { class: 'input-xlarge' }
      %>

      <%= f.input :abstract,
        as: :text,
        input_html: {
          class: 'input-xxxlarge',
          rows: '14'
        }
      %>
    </div>

    <div class="span6">
      <%= render partial: 'linked_editors', locals: {f: f, curation_concern: curation_concern, label: 'Editor'} %>
      <%= render partial: 'linked_groups', locals: {f: f, curation_concern: curation_concern, label: "Editor Group"} %>

      <%= f.input :subject,
        as: :multi_value,
        input_html: { class: 'input-xlarge' }
      %>

      <%= f.input :country,
        as: :string,
        input_html: { class: 'input-xlarge' }
      %>

      <%= f.input :advisor,
        as: :multi_value,
        input_html: { class: 'input-xlarge' }
      %>
    </div>

  </div>

  <div class="row">

    <div class="span6">
      <%= f.input :language,
        as: :multi_value,
        input_html: { class: 'input-xlarge' }
      %>

      <%= f.input :contributor,
        as: :multi_value,
        input_html: { class: 'input-xlarge' }
      %>

      <%= f.input :contributor_role,
        as: :multi_value,
        input_html: { class: 'input-xlarge' }
      %>
    </div>

    <div class="span6">
      <%= f.input :publisher,               as: :multi_value, label: "Publisher (Required for DOI)", input_html: { class: 'input-xlarge', id: 'publisher' } %>

      <%= f.input :coverage_temporal,
        as: :multi_value,
        input_html: { class: 'input-xlarge' }
      %>

      <%= f.input :coverage_spatial,
        as: :multi_value,
        input_html: { class: 'input-xlarge' }
      %>
    </div>

  </div>

  <div class="row">

    <div class="span8">
      <%= f.input :date_created,
        input_html: { class: 'input-xlarge' }
      %>

      <%= f.input :note,
        as: :text,
        input_html: { class: 'input-xxxlarge' }
      %>
    </div>

  </div>
</fieldset>
