<%# This is a search result view %>
<% noid = article.noid %>
<li id="document_<%= noid %>" class="row-fluid search-result">
  <div class="span3">
    <%= article_counter + 1 %>
    <%= render :partial => 'catalog/_index_partials/thumbnail_display', locals: {document: article} %>
  </div>

  <div class="span8">
    <% solr_doc = article.inner_object.solr_doc %>
    <%# Minimize Fedora hits by using solr_doc rather than document %>
    <%= link_to render_index_field_value(document: solr_doc, field: 'desc_metadata__title_tesim'), curation_concern_article_path(article), :id => "src_copy_link_#{noid}" %>
    <dl class="attributes">
      <% if solr_doc.has?('desc_metadata__contributor_tesim') %>
        <dt>Contributor(s):</dt>
        <dd><%= render_index_field_value(document: solr_doc, field: 'desc_metadata__contributor_tesim') %></dd>
      <% end %>

      <% if solr_doc.has?('desc_metadata__abstract_tesim') %>
        <dt>Abstract:</dt>
        <dd><%= truncate(render_index_field_value(document: solr_doc, field: 'desc_metadata__abstract_tesim'), length: 150) %></dd>
      <% end %>
    </dl>

  </div>

  <div class="span1">
    <% if current_user && can?(:edit, article) %>
      <%= link_to(
        raw('<i class="icon-pencil icon-large"></i>'),
        edit_curation_concern_article_path(article),
        :class=> 'itemicon itemedit',
        :title => 'Edit Article')%>
    <% end -%>

    <% if current_user -%>
      <%= render partial: 'add_to_collection_gui', locals: { document: article } %>
    <% end -%>
  </div>

</li>

