<% noid = document.noid %>
<%- gf = ActiveFedora::Base.load_instance_from_solr(document.id) %>
<li id="document_<%= noid %>" class="row-fluid search-result">
  <div class="span3">
    <%= counter + 1 %>
    <%= render :partial => 'catalog/_index_partials/thumbnail_display', locals: {document: document} %>
  </div>

  <div class="span8">
    <%= link_to gf, polymorphic_path_for_asset(gf), :id => "src_copy_link_#{noid}" %>
    <dl class="attributes">
      <% unless gf.contributor.blank? %>
        <dt>Author(s):</dt>
        <dd><%= render_field_value(gf.contributor) %></dd>
      <% end %>

      <% unless gf.description.blank? %>
        <dt>Description:</dt>
        <dd><%= truncate(render_field_value(gf.description), length: 150) %></dd>
      <% end %>

      <% unless gf.publisher.blank? %>
        <dt>Publisher(s): </dt>
        <dd><%= render_field_value gf.publisher %></dd>
      <% end %>
    </dl>

    <dl class="extended-attributes hide">
      <% index_fields.each do |solr_fname, field| -%>
        <% if should_render_index_field? document, field %>
          <dt class="blacklight-<%= solr_fname.parameterize %>"><%= render_index_field_label :field => solr_fname %></dt>
          <dd class="blacklight-<%= solr_fname.parameterize %>"><%= render_index_field_value :document=>document, :field => solr_fname %></dd>
        <% end -%>
      <% end -%>
    </dl>

  </div>

  <div class="span1">
    <a href="" title="Click for more details"><i id="expand_<%= noid %>" class="icon-plus icon-large fleft show-details"></i></a>&nbsp;
    <% if current_user -%>
      <%= link_to(
        raw('<i class="icon-pencil icon-large"></i>'),
        edit_polymorphic_path_for_asset(gf),
        :class=> 'itemicon itemedit',
        :title => 'Edit File'
      ) if can? :edit, gf %>
    <% end -%>
  </div>

</li>

