<div class="row">

  <fieldset class="span6">
    <legend>Personal Information</legend>

    <%= f.input :name %>
    <%= f.input :title, label: 'Job Title' %>
    <%= f.input :personal_webpage %>
    <%= f.input :blog %>

  </fieldset>

  <fieldset class="span6">
    <legend>Contact Information</legend>

    <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <p><em>Currently waiting confirmation for: <%= resource.unconfirmed_email %></em></p>
    <% end %>

    <%= f.input :email, as: :email, required: true %>
    <%= f.input :alternate_email, as: :email %>

    <%= f.input :campus_phone_number,    as: :tel %>
    <%= f.input :alternate_phone_number, as: :tel %>

  </fieldset>

  <fieldset class="span12 research-ids">
    <legend>Researcher Identification Information</legend>
    <%= f.input :orcid_id, label: "ORCID", input_html: { maxlength: 20 } %>
    <%= f.input :researcher_id, label: "ResearcherID", input_html: { maxlength: 20 } %>
    <%= f.input :scopus_id, label: "Scopus ID", input_html: { maxlength: 20 } %>
  </fieldset>

</div>

<div class="row with-headroom">
  <div class="span12">
    <fieldset class="required">
      <legend>
        Attach <%= current_user.manager? ? "#{f.object.name}'s" : 'your' %> profile image
      </legend>
      <%= f.input :files, as: :file, label: 'Upload the file' %>
    </fieldset>
  </div>
</div>
