<% content_for :page_header do %>
  <h1>Account Details</h1>
<% end %>

<%= simple_form_for(resource, :as => resource_name, :url => user_registration_path, :html => { :method => :put }) do |f| %>
  <% if f.error_notification -%> 
    <div class="alert alert-error fade in">
      <strong>Wait don't go!</strong> There was a problem with your submission. Please review the errors below:
      <a class="close" data-dismiss="alert" href="#">&times;</a>
    </div>
  <% end -%>

  <div class="row">

    <fieldset class="span6">
      <legend>Personal Information</legend>

      <%= f.input :name %>
      <%= f.input :date_of_birth %>
      <%= f.input :gender %>
      <%= f.input :title %>
      <%= f.input :personal_webpage %>
      <%= f.input :blog %>

    </fieldset>

    <fieldset class="span6">
      <legend>Contact Information</legend>

      <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
        <p><em>Currently waiting confirmation for: <%= resource.unconfirmed_email %></em></p>
      <% end %>

      <%= f.input :email,           as: :email, required: true %>
      <%= f.input :alternate_email, as: :email %>

      <%= f.input :campus_phone_number,    as: :tel %>
      <%= f.input :alternate_phone_number, as: :tel %>

    </fieldset>

  </div>

  <div class="row">

    <fieldset class="span12">
      <legend>Change Your Password</legend>

      <%= f.input :password, label: "New password", input_html: { autocomplete: "off" } %>
      <%= f.input :password_confirmation, label: "Repeat your new password", input_html: { autocomplete: "off" } %>
    </fieldset>

  </div>

  <div class="row">
    <fieldset class="span12">
      <legend>Authorize Your Changes</legend>
      <p><em>Enter your current password to confirm your changes</em></p>

      <%= f.input :current_password, required: true %>

    </fieldset>
  </div>


  <div class="row">
    <div class="span12 form-actions">
      <%= f.submit class: 'btn btn-primary', value: 'Update My Account' %>
    </div>
  </div>
<% end %>

<h2>Account Deactivation</h2>

<div class="row">
  <div class="span12 form-actions">
    <%= button_to "Cancel My Account", cancel_registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete, class: 'btn btn-danger' %>
  </div>
</div>

