<%# This is a search result view %>
<% noid = person.noid %>
<li id="document_<%= noid %>" class="row-fluid search-result">
  <div class="span3">
    <%= person_counter + 1 %>
    <%= render :partial => 'catalog/_index_partials/thumbnail_display', locals: {document: person} %>
  </div>

  <div class="span8">
    <% solr_doc = person.inner_object.solr_doc %>
    <%# Minimize Fedora hits by using solr_doc rather than document %>
    <%= link_to render_index_field_value(document: solr_doc, field: 'desc_metadata__name_tesim'), person, :id => "src_copy_link_#{noid}" %>
    <dl class="attributes">
    </dl>
  </div>

  <% if current_user -%>
    <%= render partial: 'add_to_collection_gui', locals: { document: person } %>
  <% end -%>
</li>

