<fieldset class="required">
  <legend>Required Information</legend>

    <div class="row">
      <div class="span6">

        <%= f.input :title,
          input_html: { class: 'input-xlarge' }
        %>

        <%= render partial: 'linked_contributors', locals: {f: f, label: 'Creator'} %>

        <%= f.input :date_created,
          as: :multi_value
        %>

        <%= f.input :description,
          as: :multi_value,
          input_html: {
            class: 'input-xlarge'
          }
        %>
        <%= f.collection_check_boxes :category,
          [['Poster'], ['Visual Art'], ['Photograph'], ['Painting'],
          ['Map/chart'], ['Cartoon/comic']],
          :first, :first
        %>

        <%= f.input :location,
          as: :multi_value,
          input_html: { class: 'input-xlarge' }
        %>

        <%= f.input :measurements,
                    as: :multi_value,
                    input_html: { class: 'input-xlarge' }
        %>

        <%= f.input :material,
                    as: :multi_value,
                    input_html: { class: 'input-xlarge' }
        %>

    </div>

    <div class="span6">

      <%= f.input :source,
                  as: :multi_value,
                  input_html: { class: 'input-xlarge' }
      %>

      <%= f.input :publisher,
                  as: :multi_value,
                  input_html: { class: 'input-xlarge' }
      %>

      <%= f.input :subject,
                  as: :multi_value,
                  input_html: { class: 'input-xlarge' }
      %>

      <%= f.input :inscription,
                  as: :multi_value,
                  input_html: { class: 'input-xlarge' }
      %>

      <%= f.input :StateEdition,
                  as: :string,
                  input_html: { class: 'input-xlarge' }
      %>

      <%= f.input :textref,
                  as: :multi_value,
                  input_html: { class: 'input-xlarge' }
      %>

      <%= f.input :cultural_context,
                  as: :multi_value,
                  input_html: { class: 'input-xlarge' }
      %>

      <%= f.input :style_period,
                  as: :multi_value,
                  input_html: { class: 'input-xlarge' }
      %>

      <%= f.input :technique,
                  as: :multi_value,
                  input_html: { class: 'input-xlarge' }
      %>
    </div>
  </div>
</fieldset>
