<%# This is a search result view %>
<% noid = image.noid %>
<li id="document_<%= noid %>" class="row-fluid search-result">
  <div class="span3">
    <%= image_counter + 1 %>
    <%= render :partial => 'catalog/_index_partials/thumbnail_display', locals: {document: image} %>
  </div>

  <div class="span8">
    <% solr_doc = image.inner_object.solr_doc %>
    <%# Minimize Fedora hits by using solr_doc rather than document %>
    <%= link_to render_index_field_value(document: solr_doc, field: 'desc_metadata__title_tesim'), curation_concern_image_path(image), :id => "src_copy_link_#{noid}" %>
    <dl class="attributes">
      <% if solr_doc.has?('desc_metadata__creator_tesim') %>
        <dt>Creator(s):</dt>
        <dd><%= render_index_field_value(document: solr_doc, field: 'desc_metadata__creator_tesim') %></dd>
      <% end %>

      <% if solr_doc.has?('desc_metadata__description_tesim') %>
        <dt>Description:</dt>
        <dd><%= truncate(render_index_field_value(document: solr_doc, field: 'desc_metadata__description_tesim'), length: 150) %></dd>
      <% end %>

      <% if solr_doc.has?('desc_metadata__date_created_dtsim') %>
        <dt>Date:</dt>
        <dd><%= Date.parse(solr_doc['desc_metadata__date_created_dtsim'].first) %></dd>
      <% end %>
    </dl>

  </div>

  <div class="span1">
    <% if current_user && can?(:edit, image) %>
      <%= link_to(
        raw('<i class="icon-pencil icon-large"></i>'),
        edit_curation_concern_image_path(image),
        :class=> 'itemicon itemedit',
        :title => 'Edit Image')%>
    <% end -%>
  </div>

</li>

