<% if curation_concern.collections.present? %>
<table class="table table-striped <%= dom_class(curation_concern) %> collections with-headroom">
  <caption class="table-heading">
    <h2>Collections</h2>
  </caption>
  <thead>
    <tr>
      <th>Collection Title</th>
    </tr>
  </thead>
  <tbody>
    <% curation_concern.collections.each do |collection| %>
      <tr class="collection attributes">
        <td class="attribute title"><%= link_to collection.title, collection %></td>
        <td><%= link_to(raw('<i class="icon-white icon-minus"></i>'), remove_member_collections_path(id: collection.to_param, item_id: curation_concern.pid, redirect_to: request.original_url), id: curation_concern.pid, class: 'btn btn-danger remove', title: 'Remove Item from Collection' ) if can? :edit, curation_concern  %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<% end %>

<%- if current_user %>
  <h2>Collections</h2>
  <%- if has_any_collections? %>
    <%= render 'add_to_collection_gui', collectible: curation_concern %>
  <%- else %>
    <div class="span12 main-header">
      <p><em>You have no collections in which to add this <%= curation_concern.human_readable_type %>.</em></p>
    </div>
  <%- end -%>
<%- end -%>
