<%= render "form_files_and_links", curation_concern: curation_concern, f: f %>

<div class="row with-headroom browse-everything">
  <div class="span6">
    <%= render "form_browse_everything", curation_concern: curation_concern, f: f %>
  </div>
</div>

<%= render "form_representative_image", curation_concern: curation_concern, f: f %>

<div class="row with-headroom">
  <div class="span6">
    <%= render "form_doi", curation_concern: curation_concern, f: f %>
  </div>
</div>

<div class="row with-headroom">
  <div class="span12">
    <%= render "form_permission", curation_concern: curation_concern, f: f %>
  </div>
</div>

<div class="row with-headroom">
  <div class="span12">
    <%= render "form_content_license", curation_concern: curation_concern, f: f %>
  </div>
</div>
