<%- remote_service = Hydra::RemoteIdentifier.remote_service(:doi) -%>
<%- if curation_concern.identifier.present? -%>
  <%# Please forgive this questionably semantic markup -- it should just _look_ the same as a legend/fieldset %>
  <fieldset id="doi">
    <legend>Digital Object Identifier</legend>
    <p>
      This
      <%= classify_for_display(curation_concern) %>
      has a <abbr title="Digital Object Identifier">DOI</abbr>.
    </p>
    <p>
      <strong><%= link_to curation_concern.identifier, remote_service.remote_uri_for(curation_concern.identifier).to_s %></strong>
    </p>
    <p>
      This <abbr title="Digital Object Identifier" data-placement="right">DOI</abbr> link is the best way for others to cite your work.
    </p>
  </fieldset>
<%- else -%>
  <fieldset class="promote promote-doi" id="set-doi">
    <legend>
      Assign a Digital Object Identifier (DOI)
    </legend>

    <p>
      A <abbr title="Digital Object Identifier" data-placement="right">DOI</abbr> is a permanent link to your
      <%= classify_for_display(curation_concern) %>.
      It&rsquo;s an easy way for other people to cite your work.
    </p>
    <p>
      Want more information on <abbr title="Digital Object Identifier">DOI</abbr>s?
      Here&rsquo;s a <a href="http://simple.wikipedia.org/wiki/Doi" target="_blank">brief summary</a> and the <a href="http://www.doi.org/faq.html" target="_blank">DOI FAQ</a>.
    </p>

    <div class="control-group">
      <%- if remote_service.registered?(curation_concern) -%>
        <label class="radio">
          <input type="radio" name="<%= f.object_name %>[doi_assignment_strategy]" id="mint-doi" value="<%= remote_service.accessor_name %>" <% if curation_concern.doi_assignment_strategy == remote_service.accessor_name.to_s %> checked="true"<% end %> />
          <span class="label-text">
            Yes, I would like to create a <abbr title="Digital Object Identifier">DOI</abbr> for this <%= curation_concern.human_readable_type %>. (Publisher information is required)
            <br /><em><strong>Please note that it could take up to an hour for your DOI to be available.</strong></em>
          </span>
        </label>
      <%- end -%>
      <label class="radio">
        <input type="radio" name="<%= f.object_name %>[doi_assignment_strategy]" id="no-doi" value="<%= CurationConcern::RemotelyIdentifiedByDoi::ALREADY_GOT_ONE %>" <% if curation_concern.doi_assignment_strategy == CurationConcern::RemotelyIdentifiedByDoi::ALREADY_GOT_ONE %> checked="true"<% end %> />
        <span class="label-text">
          Yes, I already have one that I want to use: <%= f.input :existing_identifier, wrapper: :inline, value: curation_concern.identifier, input_html: { placeholder: "doi:10.5072/FK2FT8XZZ", class: 'input-small' } %>
        </span>
      </label>
      <label class="radio">
        <input type="radio" name="<%= f.object_name %>[doi_assignment_strategy]" id="<%= f.object_name %>_doi_assignment_strategy_<%= CurationConcern::RemotelyIdentifiedByDoi::NOT_NOW  %>" value="<%= CurationConcern::RemotelyIdentifiedByDoi::NOT_NOW %>" <% if curation_concern.doi_assignment_strategy == CurationConcern::RemotelyIdentifiedByDoi::NOT_NOW %> checked="true"<% end %> />
        <span class="label-text">
          Not now&hellip;<em>but maybe later.</em>
        </span>
      </label>
    </div>
  </fieldset>
<%- end -%>
