<% unless curation_concern.persisted? %>
  <fieldset id="work-contents">
    <div class="row with-headroom">
      <div class="span12">
        <legend>
          Add Your Content
        </legend>

        <p class="help-block">
          The subject of your <%= curation_concern.human_readable_type.downcase %> can either be a file <em>or</em> a URL.
        </p>
      </div>
    </div>

    <div class="row">

      <fieldset class="span5">
        <%= f.input :files, as: :file, label: 'Upload a file', hint: 'A PDF is preferred.'%>
      </fieldset>

      <strong class="span1 field-choice">OR</strong>

      <fieldset class="span6">
        <%= f.input :linked_resource_urls, label: "External link", input_html: {class: 'input-xlarge'} %>
      </fieldset>

      <fieldset class="span6">
        <p>Please click the button below to upload remote files.</p>
        <%= form_tag('/file', id: 'main_form', method: 'post') do %>
            <%= button_tag("Browse", type: 'button', class: 'btn btn-large btn-success', id: "browse-btn",
                           'data-toggle' => 'browse-everything', 'data-route' => browse_everything_engine.root_path,
                           'data-target' => '#main_form' ) %>
            <%= button_tag("Submit", type: 'submit', class: 'btn btn-large btn-primary', id: "submit-btn") %>
        <% end %>
        <p id="status">0 items selected</p>
        <script>
            $(document).ready(function() {
                $('#browse-btn').browseEverything(browse_everything_engine.root_path)
                        .done(function(data) { $('#status').html(data.length.toString() + " items selected") })
                        .cancel(function() { window.alert('Canceled!') });
            });
        </script>
      </fieldset>

    </div>
  </fieldset>
<% end %>
