<fieldset id="related-files">
  <legend>
    Current Files for your <%= curation_concern.human_readable_type %>
  </legend>

  <table class="table table-striped <%= dom_class(curation_concern) %> related_files with-headroom">
    <caption class="table-heading">
      <h4>Existing files for <em><%= curation_concern %></em></h4>
    </caption>
    <thead>
      <tr>
        <th>File</th>
        <th>Filename</th>
        <th>Date Uploaded</th>
        <th>Visibility</th>
        <th>Delete</th>
      </tr>
    </thead>
    <tbody>
      <% curation_concern.generic_files.each do |generic_file| %>
        <tr class="<%= dom_class(generic_file) %> attributes">
          <td class="attribute title"><%= generic_file %></td>
          <td class="attribute filename"><%= generic_file.filename %></td>
          <td class="attribute date_uploaded"><%= generic_file.date_uploaded %></td>
          <td class="attribute permission"><%= permission_badge_for(generic_file) %></td>
          <td><%= check_box_tag :delete %>&nbsp;<em>Not yet implemented</em></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</fieldset>
