<h3><%= t('sufia.search_facets.label') %></h3>
<% if current_user %>
  <%= form_tag search_action_url, :method => :get, :class => 'search-query-form form-inline clearfix' do %>
    <%= search_as_hidden_fields(:omit_keys => [:qt, :page]).html_safe %>

    <label class="search-scope">
      <%= radio_button_tag 'works', 'all', params['works'] != 'mine' %>
      <span class="label-text">All
        <%= catalog_type %>
      </span>
    </label>

    <label class="search-scope">
      <%= radio_button_tag 'works', 'mine', params['works'] == 'mine' %>
      <span class="label-text">My
        <%= catalog_type %>
      </span>
    </label>

    <noscript>
      <button type="submit" class="search-submit btn btn-primary" id="aux-search-submit-header">
        Filter by Work Owner
      </button>
    </noscript>
  <% end %>

  <ul class="nav nav-list slide-list" id="facets">
    <%= render_facet_partials %>
  </ul>
<% else %>
  <ul class="nav nav-list slide-list" id="facets">
    <%= render_facet_partials %>
  </ul>
<% end %>