<% content_for :page_title, "#{application_name} Search Results" %>
<% content_for :page_header do %>

<div class="row">

    <div class="span8">
      <h2>Search <%=t('sufia.product_name') %></h2>
    </div>

    <div class="span4 page-search">
      <%= render 'shared/site_search' %>
    </div>

</div>

<% end %>

<% content_for :sidebar do %>

  <%= render 'facets' %>

<% end %>

<% if has_search_parameters? %>
  <h3>Search Results</h3>
  <div class="alert alert-info search-constraints">
    <i class="icon-search icon-large"></i>
    You searched for:
      <%= render_constraints(params) %>
  </div>

  <%= render :partial => 'did_you_mean' %>
  <%= render :partial => 'facet_selected' %>

  <div class="row">
    <div class="span6">
      <%= render_pagination_info @response, :entry_name=>'item' %>
      <%= render 'sort_and_per_page' %>
    </div>
    <div class="span3 emphatic-action-area">
      <%= link_to "New Search", catalog_index_path, :id=>"startOverLink", :class=>"btn btn-primary pull-right" %>
    </div>
  </div>

  <%= render 'results_pagination' %>

  <%= render 'document_list' %>

  <%= render 'results_pagination' %>

<% else %>

  <%= render 'home' %>

<% end %>
