<%= simple_form_for(help_request) do |f| %>
  <div class="row">
    <div class="span6">
      <fieldset>
        <legend>What We Know</legend>
        <ul>
          <li>Screen Size: <span id="help-resolution"><%= help_request.resolution %></span></li>
          <li>Browser Size: <span id="help-viewport"><%= help_request.view_port %></span></li>
          <li>JavaScript: <span id="help-js">is <strong>NOT</strong> enabled.</span></li>
          <li>Current URL: <span id="help-url"><%= help_request.current_url %></span></li>
          <li>Browser: <span id="help-browser"><%= help_request.browser_name %></span></li>
          <li>Platform: <span id="help-platfrom"><%= help_request.platform %></span></li>
        </ul>
      </fieldset>
    </div>
    <div class="span6">
      <fieldset class="required">
        <legend>Describe Your Issue</legend>
        <%= f.input :view_port, as: 'hidden' %>
        <%= f.input :resolution, as: 'hidden' %>
        <%= f.input :javascript_enabled, as: 'hidden' %>
        <%= f.input :how_can_we_help_you, as: 'text' %>
      </fieldset>
    </div>
    <div class="row">
      <div class="span12 form-actions">
        <%= f.submit "Let Us Know", class: 'btn btn-primary' %> <a href="#" id="never-mind" class="btn btn-link" data-dismiss="modal">never mind</a>
      </div>
    </div>
  </div>
<% end %>
