<%= simple_form_for(help_request) do |f| %>
  <fieldset class="with-side-padding">
    <legend>What We Know</legend>
    <dl>
      <dt>Screen Size</dt>
      <dd id="help-resolution">
        <%= help_request.resolution || 'Unknown' %>
      </dd>
      <dt>Browser Size</dt>
      <dd id="help-viewport">
        <%= help_request.view_port || 'Unknown'  %>
      </dd>
      <dt>JavaScript</dt>
      <dd id="help-js">
        <% if help_request.javascript_enabled %>
          is enabled
        <% else %>
          is <strong>NOT</strong> enabled
        <% end %>
      </dd>
      <dt>Current URL</dt>
      <dd id="help-url">
        <%= help_request.current_url %>
      </dd>
      <dt>Browser</dt>
      <dd id="help-browser">
        <%= help_request.browser_name %>
      </dd>
      <dt>Platform</dt>
      <dd id="help-platfrom">
        <%= help_request.platform %>
      </dd>
    </dl>
  </fieldset>

  <fieldset class="required with-side-padding">
    <legend>Describe Your Issue</legend>
    <%= f.input :view_port, as: 'hidden' %>
    <%= f.input :resolution, as: 'hidden' %>
    <%= f.input :current_url, as: 'hidden' %>
    <%= f.input :javascript_enabled, as: 'hidden' %>
    <%= f.input :how_can_we_help_you, as: 'text', input_html: { class: 'input-xxxlarge', rows: '10' } %>
  </fieldset>

  <div class="form-actions">
    <%= f.submit "Let Us Know", class: 'btn btn-primary' %> <a href="#" id="never-mind" class="btn btn-link" data-dismiss="modal">never mind</a>
  </div>
<% end %>
