<%= simple_form_for(help_request) do |f| %>
  <div class="row">
    <div class="span6">
      <fieldset>
        <legend>What We Know</legend>
        <ul>
          <li>Screen Size: <span id="hlp-res"><%= help_request.resolution %></span></li>
          <li>Browser Size: <span id="hlp-viewport"><%= help_request.view_port %></span></li>
          <li>Javascript: <span id="hlp-js">is <strong>NOT</strong> enabled.</span></li>
          <li>Current URL: <span id="hlp-url"><%= help_request.current_url %></span></li>
          <li>Browser: <span id="hlp-agent"><%= help_request.user_agent %></span></li>
        </ul>
      </fieldset>
    </div>
    <div class="span6">
      <fieldset class="required">
        <legend>Describe Your Issue</legend>
        <%= f.input :view_port, as: 'hidden' %>
        <%= f.input :resolution, as: 'hidden' %>
        <%= f.input :javascript_enabled, as: 'hidden' %>
        <%= f.input :current_url, as: 'hidden' %>
        <%= f.input :user_agent, as: 'hidden' %>
        <%= f.input :how_can_we_help_you, as: 'text' %>
      </fieldset>
    </div>
    <div class="row">
      <div class="span12 form-actions">
        <%= f.submit "Submit", class: 'btn btn-primary' %> or on second thought <a href="#" id='never-mind'>never mind</a>
      </div>
    </div>
  </div>
<% end %>
