<% if collectible %>
  <p> <%= "Item: #{collectible}" %> </p>
<% end %>

<div>
  <%= form_tag add_member_collections_path, method: :put do %>
    <fieldset class="required">
      <% if collectible %>
        <%= hidden_field_tag :collectible_id, collectible.pid %>
      <% end %>

      <div>
        Collection:
        <%= select_tag :collection_id, options_from_collection_for_select(@collection_options, "pid", "title"), include_blank: true %>
      </div>

      or:

      <div>
        Profile:
        <%= select_tag :profile_collection_id, options_from_collection_for_select(@profile_collection_options, "pid", "title"), include_blank: true %>
      </div>

      <%= submit_tag "Add", class: 'btn btn-primary' %>
    </fieldset>
  <% end %>
</div>
