<div class="container">
<%-# This syntax [collections, @collection] tells form_for to use the routes from the engine named collections %>
<% if @group_membership %>
  <div id="error_explanation">
    <h2><%= pluralize(@group_membership.errors.count, "error") %> prohibited this topic from being saved:</h2>
    <ul>
      <% @group_membership.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
<% end %>
<%= form_for @group do |f| %>
  <% if @group.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@group.errors.count, "error") %> prohibited this topic from being saved:</h2>

      <ul>
      <% @group.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%#
    NOTE: We're just making it _look_ like we're using simple_form here. Refactor at will.
    ALSO: Title isn't _actually_ required. The form is lying (but it means well and is probably right).
  %>
  <div class="control-group string required group_title">
    <span class="control-label">
      <label class="string required" for="group_title">
        <abbr title="" data-original-title="required">*</abbr>Group Name
      </label>
    </span>
    <div class="controls">
      <%= f.text_field :title, class: 'string required input-xlarge', required: 'required', :'aria-required' => 'true' %>
    </div>
  </div>

  <div class="control-group string required group_description">
    <span class="control-label">
      <%= f.label :description %>
    </span>
    <div class="controls">
      <%= f.text_area :description, class: 'text input-xxlarge' %>
    </div>
  </div>

    <div class="row">
      <div class="span6" >
        <fieldset >
          <%= render partial: 'linked_members', locals: {f: f} %>
        </fieldset>
      </div>
    </div>

  <div class="form-actions">
    <%= f.submit class: 'btn btn-primary' %>
    <%- if @group.persisted? -%>
      <%= link_to 'Cancel', hydramata_group_path(@group), class: 'btn btn-link' %>
    <% else %>
      <%= link_to 'Cancel', root_path, class: 'btn btn-link' %>
    <% end %>
  </div>
<% end %>
</div>
