<%= simple_form_for [:curation_concern, curation_concern] do |f| %>
  <div class="row">
    <div class="span6">
      <fieldset class="required">
        <legend>Describe Your File</legend>
        <%= f.input :title, input_html: { class: 'input-xlarge' } %>
      </fieldset>

      <fieldset class="required">
        <legend>
          Attach Your File
          <small>A PDF copy is preferred.</small>
        </legend>
        <%= f.input :__revised_file,
                    as: :file,
                    label: 'Upload your file'
        %>
      </fieldset>
    </div>
  </div>

  <div class="row">
    <div class="span12 form-actions">
      <%= f.submit class: 'btn btn-primary' %>
      <%= link_to 'Cancel', dashboard_index_path, class: 'btn btn-link' %>
    </div>
  </div>
<% end %>