<table class="table table-striped <%= dom_class(curation_concern) %> attributes">
  <tbody>
    <tr>
      <th>Title</th>
      <td><%= curation_concern %></td>
    </tr>
    <tr>
      <th>Filename</th>
      <td><%= curation_concern.filename %></td>
    </tr>
    <tr>
      <th>Depositor</th>
      <td><%= curation_concern.depositor %></td>
    </tr>
    <tr>
      <th>Date Uploaded</th>
      <td>
        <%= curation_concern.date_uploaded %>
      </td>
    </tr>
    <tr>
      <th>Date Modified</th>
      <td>
        <%= curation_concern.date_modified %>
      </td>
    </tr>
    <tr>
      <th>Audit Status</th>
      <%- stat= curation_concern.audit_stat(false)  %>
      <td> <%= (stat == 1 ? 'passing' : (stat == 0 ? 'failing' : stat)) %></td>
    </tr>
    <tr>
      <th>Characterization</th>
      <td>
        <%= "not yet characterized" if curation_concern.characterization_terms.values.flatten.map(&:empty?).reduce(true) { |sum, value| sum && value } %>
        <% curation_concern.characterization_terms.each_pair do |term, values| %>
        <div>
          <% label = term.to_s %>
          <% if label == "format_label" %>
             <% label = "File Format"  %>
             <% values = curation_concern.file_format %>
          <% end %>
          <% label = label.humanize %>
          <% if values.is_a? Array %>
            <% length = values.length %>
            <% length = Sufia::Engine.config.fits_message_length-1  if term == :status_message && values.length > Sufia::Engine.config.fits_message_length-1  %>
            <% values[0..length].each_with_index do |value, idx| %>
              <% next if value.empty? %>
              <%= "#{label}: #{value.truncate(250)}" %>
              <%= "<br />".html_safe unless idx == length %>
            <% end %>
            <% if length != values.length %>
               <%= render :partial => "generic_files/extra_fields_modal", :locals=>{:name=>term, :values=> values, :start=>Sufia::Engine.config.fits_message_length}%>
            <% end %>
          <% else %>
            <%= "#{label}: #{values.truncate(250)}" %><br />
          <% end %>
        </div>
        <% end %>
      </td>
    </tr>
  </tbody>
</table>