<%= simple_form_for [:curation_concern, curation_concern] do |f| %>
  <% if f.error_notification -%>
    <div class="alert alert-error fade in">
      <strong>Wait don't go!</strong> There was a problem with your submission. Please review the errors below:
      <a class="close" data-dismiss="alert" href="#">&times;</a>
    </div>
  <% end -%>

  <div class="row">

    <%= render "form_required_information", curation_concern: curation_concern, f: f %>
    <%= render "form_additional_information", curation_concern: curation_concern, f: f %>

  </div>

  <%= render "form_supplementary_fields", curation_concern: curation_concern, f: f %>

  <%= render 'form_contributor_agreement', curation_concern: curation_concern, contributor_agreement: contributor_agreement %>

  <div class="row">
    <div class="span12 form-actions">
      <%= f.submit class: 'btn btn-primary' %>
      <%= link_to 'Cancel', dashboard_index_path, class: 'btn btn-link' %>
    </div>
  </div>

<% end %>
