<% content_for :layout_name, 'curate_nd, ' %>
<% content_for :body do %>

  <header id="banner" role="banner">
    <hgroup>
      <div id="brand-bar-wrapper">
        <div class="container">
          <div id="brand-bar" class="row">
            <div class="university span6">
              <h3><a href="http://nd.edu" tabindex="-1">University <i>of</i> Notre Dame</a></h3>
            </div>
            <div class="division span6">
              <h2><a href="http://www.library.nd.edu" tabindex="-1">Hesburgh Libraries</a></h2>
            </div>
          </div>
        </div>
      </div>
      <div id="title-bar-wrapper">
        <div class="container">
          <div id="title-bar" class="row">
            <div id="site-title" class="span8">
              <h1><%= link_to 'CurateND', root_path, tabindex: :'-1' %></h1>
            </div>
            <div id="site-search" class="span4">

<%= render 'shared/site_search' if show_site_search? %>

            </div>
          </div>
        </div>
      </div>
    </hgroup>
  </header>

<%= render 'shared/action_bar' if show_action_bar? %>

<%= render 'shared/flash_message' %>

  <div id="main" role="main" class="container <%= yield(:page_class) if content_for?(:page_class)%>">
  <% if content_for?(:page_header) %>
    <div class="row">
      <div class="span12 main-header">
        <%= yield(:page_header) %>
      </div>
    </div>
  <% end %>

    <%= content_for?(:main) ? yield(:main) : yield %>
  </div>

  <%= render '/footer' %>

<% end %>

<%= render :template => 'layouts/boilerplate' %>
